{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Estas son las imágenes que se juegan el premio al Mejor Astrofotógrafo del Año</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore blanditiis debitis at perferendis, suscipit delectus non minus possimus nam dolorem ducimus laudantium modi exercitationem sed adipisci illum, assumenda labore corrupti?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/Homero.png" class="img-thumbnail">
    </div>
</div>

{{>footer}}